body {
  margin: 0;
  background-color: #555555;

  /* To disable user interaction (copy, touch, etc) */
  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

}

canvas {
  background-color: #202124;
  border: 2px solid #888888;
}

.centered {
  display: flex;
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
  width: 100vw;
  height: 100vh;
}

.inverted {
  -webkit-filter: invert(1);
  filter: invert(1);
}

@font-face {
  font-family: PressStart2P;
  src: url("./PressStart2P-Regular.ttf")
}